@tailwind base;
@tailwind components;
@tailwind utilities;


body {

  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.maxW{
  padding: 0 2%;
  margin: 0 auto;
}
